<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../styles/section-style.html">

<dom-module id="tech-section">
  <template>
    <style include="shared-styles section-style">
      :host {
        --symbol-height: 175px;
      }

      #content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .element {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: calc(var(--app-gutter, 20px) * 2);
      }

      .symbol {
        background-color: azure;
        width: var(--one-col-width);
        height: var(--symbol-height);
      }

      .description {
        width: var(--one-col-width);
      }
    </style>

    <div id="wrapper">
      <div id="title">Technologies</div>
      <div id="content">
        <div class="element">
          <div class="symbol"></div>
          <div class="description">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis veniam, voluptatum adipisci sequi necessitatibus nam molestias?
              Deleniti laboriosam at, reprehenderit iusto expedita ea necessitatibus nihil reiciendis numquam perferendis
              vitae totam?
            </p>
          </div>
        </div>

        <div class="element">
          <div class="symbol"></div>
          <div class="description">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio veritatis obcaecati nam quasi. Consectetur earum beatae ab
              sapiente dicta. Error sint velit quod? Provident, magnam natus modi fugiat nemo aspernatur.
            </p>
          </div>
        </div>
      </div>
    </div>

  </template>

  <script>
    class TechSection extends Polymer.Element {
      static get is() { return 'tech-section' }

      static get properties() {
        return {
        }
      }
    }

    window.customElements.define(TechSection.is, TechSection)
  </script>
</dom-module>