<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../styles/section-style.html">

<dom-module id="vision-section">
  <template>
    <style include="shared-styles section-style">
      :host {
        padding-top: 0;
      }

      #content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      #vision {
        width: 100%;
      }
    </style>

    <div id="wrapper">
      <div id="content">
        <div id="intro">
          <p>
            On rêve tous d'un monde ou la technologie nous soutiens, sans se mettre en travers de notre route. 
            Un monde avec des outils simples, qui nous aident à progresser vers nos objectifs.
            <br> C'est pour réaliser cet idéal que je persévère en tant que développeur. Pourquoi construire des application ?
            Pour offrir l'opportunité à ceux qui en ont besoin de s'appuyer sur la technologie pour atteindre leur propres rêves.
          </p>
        </div>

        <div id="vision">
          <p>
            Le Lorem ipsum, c'est cool ! Go on ! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus doloribus eius similique dolore aperiam deserunt veniam iste
            porro, nulla ullam repellat fugit quasi consequatur debitis sit ex quas quisquam eveniet. 
          </p>
        </div>

        <div id="quote">
            <div id="line">Une technologie suffisament avancée peut être prise pour de la magie.</div>
            <div id="author">Arthur C. Clarke</div>
          </div>
      </div>
    </div>

  </template>

  <script>
    class VisionSection extends Polymer.Element {
      static get is() { return 'vision-section' }

      static get properties() {
        return {
        }
      }
    }

    window.customElements.define(VisionSection.is, VisionSection)
  </script>
</dom-module>