<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/section.html">
<link rel="import" href="../components/sections/splash.html">
<link rel="import" href="../components/sections/vision.html">
<link rel="import" href="../components/sections/strenghts.html">
<link rel="import" href="../components/sections/tech.html">
<link rel="import" href="../components/sections/whoami.html">

<link rel="import" href="../mixins/scroll.html">

<link rel="import" href="../styles/page-style.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="landing-view">
  <template>
    <style include="shared-styles page-style">
      #splash {
        margin-top: -20px;
        padding-top: 0;
      }
    </style>

    <splash-section id="splash"></splash-section>
    <vision-section id="vision"></vision-section>
    <strenghts-section id="strenght"></strenghts-section>
    <tech-section id="tech"></tech-section>
    <whoami-section id="whoami"></whoami-section>

  </template>

  <script>
    class LandingView extends ScrollMixin(Polymer.Element) {
      static get is() { return 'landing-view' }

      static get properties() {

      }

      constructor() {
        super()
      }
    }

    window.customElements.define(LandingView.is, LandingView);
  </script>
</dom-module>
