<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">

<link rel="import" href="../components/section.html">

<link rel="import" href="../mixins/page.html">
<link rel="import" href="../mixins/actions/layout.html">

<link rel="import" href="../styles/page-style.html">
<link rel="import" href="../styles/section-style.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="project-view">
  <template>
    <style include="shared-styles page-style section-style">
      :host {
        background-color: #fff;
        color: black;

        --app-section-title-color: black;
      }

      .page-title {
        color: black;
      }

      .tags {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .tag {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      .symbol {
        display: block;
        width: 65px;
        height: 30px;
        background-color: #828282;
      }

      .label {
        font-weight: 300;
      }
    </style>

    <firebase-document
      path="/projects/{{slug}}"
      data="{{project}}">
    </firebase-document>

    <div class="page-title">[[project.title]]</div>

    <app-section id="pres">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam temporibus quaerat amet optio sint voluptate unde dignissimos ex, voluptatum libero et incidunt deleniti soluta fuga, neque sapiente nobis. In!
    </app-section>

    <app-section id="tags">
      <div class="tags">
        <template is="dom-repeat" items="{{tags}}">
          <div class="tag">
            <div class="symbol"></div>
            <div class="label">[[item.label]]</div>
          </div>
        </template>
      </div>
    </app-section>

    <app-section id="illustrations">
      <div slot="title">Illustrations</div>
    </app-section>

    <app-section id="contexte">
        <div slot="title">Contexte</div>
    </app-section>
  </template>

  <script>
    class ProjectView extends LayoutActions(PageMixin(Polymer.Element)) {
      static get is() { return 'project-view'; }

      static get properties() {
        return {
          subroute: {
            type: String,
            value: null
          },
          slug: {
            type: String
          },
          project: {
            type: Object
          },
          tags: {
            type: Array,
            value: [
              { label:"rapide", icon:"search" },
              { label:"rapide", icon:"search" },
              { label:"rapide", icon:"search" },
              { label:"rapide", icon:"search" },
            ]
          }
        }
      }

      _selected() {
        this.slug = this.subroute.path.substr(1)
        console.log('Project slug : ', this.slug)
      }

      _unselected() {
      }

      _toProjects() {
        this.goTo('sorcery')
      }
    }

    window.customElements.define(ProjectView.is, ProjectView);
  </script>
</dom-module>


