<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/section.html">
<link rel="import" href="../components/projects-section.html">

<link rel="import" href="../styles/page-style.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="sorcery-view">
  <template>
    <style include="shared-styles page-style">
      #filtres {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .filtre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    </style>

    <div class="page-title">Exploration</div>

    <app-section>  
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.</p>
      <p>Id nam odio natum malorum, tibique copiosae expetenda mel ea.Detracto suavitate repudiandae no eum. Id adhuc minim soluta nam.Id nam odio natum malorum, tibique copiosae expetenda mel ea.</p>

      <div id="filters-title">Filtres</div>
      <div id="filtres">
        <template is="dom-repeat" items="{{items}}">
          <div class="filtre">
              <iron-icon icon="[[item.icon]]"></iron-icon>
              <div class="label">[[item.label]]</div>
          </div>
        </template>
      </div>
    </app-section>

    <projects-section>
    </projects-section>

  </template>

  <script>
    class SorceryView extends Polymer.Element {
      static get is() { return 'sorcery-view'; }

      static get properties() {
        return {
          items: {
            type: Array,
            value: [
              { label: "projets", icon:"search"},
              { label: "composants", icon:"search"},
              { label: "divers", icon:"search"}
            ]
          }
        }
      }
    }

    window.customElements.define(SorceryView.is, SorceryView);
  </script>
</dom-module>
