<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../mixins/navigation.html">

<link rel="import" href="../styles/page-style.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="card-project">
  <template>
    <style include="shared-styles">
      :host {
        display: inline-block;
        background-color: #c8c8c8;
        box-shadow: 4px 6px 8px #000000;
        padding: 20px;

        color: #333333;
      }

      #title {
        font-weight: 200;
        font-size: 28px;
        color: black;
        text-transform: uppercase;
      }

      paper-button {
        width: 100%;
        background-color: #333333;
        color: #fff;
      }

      #content {
        margin-top: var(--gutter);
        margin-bottom: var(--gutter);
      }
    </style>

    <div id="title">[[slug]]</div>

    <div id="content">
      Card for [[slug]] project.
      <br>
      Ici il y a la présentation du stuff and so on. Puis on valide et on appuie sur un bouton pour en voir plus.
      <br><br>
      On est content et tout ça tout ça. Juste un POINT FORT, et puis quelques détails significatifs.
    </div>
    
    <paper-button id="see" on-tap="_openProject">Voir</paper-button>
    
  </template>

  <script>
    class CardProject extends NavigationMixin(Polymer.Element) {
      static get is() { return 'card-project'; }

      static get properties() {
        return {
          slug: {
            type: String,
            value: null
          },
          project: {
            type: Object,
            value: null
          }
        }
      } 

      constructor() {
        super()
      }

      connectedCallback() {
        super.connectedCallback()
        this.addEventListener('click', this._scrollListener)
      }

      disconnectedCallback() {
        super.disconnectedCallback()
        this.removeEventListener('click', this._scrollListener)
      }

      _openProject(e) {
        console.log('going to new project')
        this.goTo(`project/${this.slug}`)
      }
    }

    window.customElements.define(CardProject.is, CardProject);
  </script>
</dom-module>
