<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../styles/page-style.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="card-project">
  <template>
    <style include="shared-styles">
      :host {
        display: inline-block;

        background-color: grey;

        box-shadow: 4px 6px 8px #000000;

        width: 200px;
        height: 200px;

        padding: 20px;
      }
    </style>

    <h2>Hay</h2>
    
  </template>

  <script>
    class CardProject extends Polymer.Element {
      static get is() { return 'card-project'; }
    }

    window.customElements.define(CardProject.is, CardProject);
  </script>
</dom-module>
