<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../styles/shared-styles.html">

<dom-module id="app-footer">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        width: 100%;
        margin-top: calc(var(--gutter, 20px) * 2);
        background-color: #202124;
        color: var(--app-secondary-color);
        padding-top: var(--gutter, 20px);
        padding-bottom: var(--gutter, 20px);
      }

      #content {
        max-width: var(--app-intermediate-width);
        margin-left: 120px;
        margin-right: auto;
      }

      @media (min-width: 1200px) {
        #content {
          max-width: var(--app-max-width);
        }
      }
    </style>

    <div id="content">
      Réalisé avec démence par <a href="/theforge" class="no-style">un Techmage</a>
    </div>
  </template>

  <script>
    class AppFooter extends Polymer.Element {
      static get is() { return 'app-footer' }

    }
    
    window.customElements.define(AppFooter.is, AppFooter)
  </script>
</dom-module>