<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../styles/shared-styles.html">

<dom-module id="app-navigator">
  <template>
    <style include="shared-styles">
      :host {
        --separator-marge: 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      #anchors {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: var(--separator-marge);
      }

      #separator {
        display: inline-block;
        height: 2px;
        width: 22px;
        background-color: var(--app-text-highlight);
      }

      #territories {
        display: flex;
        flex-direction: column;
        margin-top: var(--separator-marge);
      }

      paper-radio-button {
        margin-top: 10px;
        --paper-radio-button-checked-color: var(--app-secondary-color);
        --paper-radio-button-checked-ink-color: var(--app-secondary-color);
        --paper-radio-button-unchecked-color: var(--app-text-highlight);
        --paper-radio-button-unchecked-ink-color: var(--app-text-highlight);
        --paper-radio-button-label-color: var(--app-text-highlight);
        --paper-radio-button-label-spacing: 0px;
      }

      paper-icon-button {
        color: var(--app-text-highlight);
        --paper-icon-button-ink-color: var(--app-secondary-color);
        padding: 5px;
        height: 30px;
        width: 30px;
      }

      a.iron-selected paper-icon-button {
        color: var(--app-secondary-color);
      }

      @media (min-width: 1200px) {}
    </style>

    <div id="anchors">
      <template is="dom-repeat" items="{{anchors}}">
        <paper-radio-button class="anchor" on-click="_dispatchNav" where-to$="{{item}}"></paper-radio-button>
      </template>
    </div>
    
    <div id="separator"></div>

    <iron-selector id="territories" selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
      <a name="landing" href="[[rootPath]]landing"><paper-icon-button icon="flight-land"></paper-icon-button></a>
      <a name="sorcery" href="[[rootPath]]sorcery"><paper-icon-button icon="gesture"></paper-icon-button></a>
      <a name="contact" href="[[rootPath]]contact"><paper-icon-button icon="send"></paper-icon-button></a>
    </iron-selector>
  </template>

  <script>
    class AppNavigator extends Polymer.Element {
      static get is() { return 'app-navigator' }

      static get properties() {
        return {
          anchors: {
            type: Array,
            value: [
              'vision',
              'strenght',
              'tech',
              'whoami'
            ]
          }
        }
      }

      _dispatchNav(e) {
        // Grab the anchor to reach
        const anchor = e.target.getAttribute('where-to')
        // Payload
        const payload = {
          detail: {
            anchor
          },
          bubbles: true,
          composed: true,
        }
        // Dispatch event with payload
        window.dispatchEvent(new CustomEvent('nav-scroll', payload))
      }
    }

    window.customElements.define(AppNavigator.is, AppNavigator)
  </script>
</dom-module>