<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/card-project.html">

<link rel="import" href="../styles/section-style.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="projects-section">
  <template>
    <style include="shared-styles section-style">
      #content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      card-project {
        margin-top: 20px;
        margin-bottom: 20px;
      }

    </style>

    <div id="wrapper">
      <div id="title"></div>
      <div id="content">
        <card-project slug="onward"></card-project>
        <card-project slug="wohlolooo"></card-project>
        <card-project slug="idiocratic"></card-project>
        <card-project slug="jedisrien"></card-project>
        <card-project slug="monstruous"></card-project>
        <card-project slug="useless"></card-project>
      </div>
    </div>

  </template>

  <script>
    class ProjectsSection extends Polymer.Element {
      static get is() { return 'projects-section' }

      static get properties() {
        return {
        }
      }
    }
    
    window.customElements.define(ProjectsSection.is, ProjectsSection)
  </script>
</dom-module>