<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/card-project.html">

<link rel="import" href="../styles/shared-styles.html">

<dom-module id="projects-section">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        width: 100%;
        background-color: #202124;
        padding-top: var(--gutter, 20px);
        padding-bottom: calc(var(--gutter, 20px) + 6px);
      }

      #content {
        display: block;
        margin-left: 120px;
        margin-right: 120px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    </style>

    <div id="content">
      <card-project></card-project>
      <card-project></card-project>
      <card-project></card-project>
    </div>

  </template>

  <script>
    class ProjectsSection extends Polymer.Element {
      static get is() { return 'projects-section' }

      static get properties() {
        return {
        }
      }
    }
    
    window.customElements.define(ProjectsSection.is, ProjectsSection)
  </script>
</dom-module>