<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../styles/section-style.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="app-section">
  <template>
    <style include="shared-styles section-style">
      slot {
        width: 100%;
      }
    </style>

    <div id="wrapper">
      <div id="title">
        <slot name="title"></slot>
      </div>
      <div id="content">
        <slot></slot>
      </div>
    </div>

  </template>

  <script>
    class AppSection extends Polymer.Element {
      static get is() { return 'app-section' }

      static get properties() {
        return {
        }
      }
    }
    
    window.customElements.define(AppSection.is, AppSection)
  </script>
</dom-module>